[package]
name = "vorbis_rs"
description = "Ogg Vorbis stream encoding and decoding powered by high-level bindings for best-in-breed C libraries"
authors.workspace = true
license.workspace = true
version = "0.5.4"
readme = "../../README.md"
repository.workspace = true
documentation = "https://docs.rs/vorbis_rs"
edition.workspace = true
rust-version.workspace = true
keywords = ["vorbis", "aotuv", "lancer", "ogg", "xiph"]
categories = ["api-bindings", "multimedia", "multimedia::audio", "multimedia::encoding"]

[dependencies]
aotuv_lancer_vorbis_sys.workspace = true
ogg_next_sys.workspace = true

errno = { version = "0.3.8", default-features = false }
tinyvec = { version = "1.6.0", default-features = false, features = ["alloc", "rustc_1_57"] }
thiserror = "1.0.58"

getrandom = { version = "0.2.14", features = ["std"], optional = true }

[features]
default = ["stream-serial-rng"]
stream-serial-rng = ["dep:getrandom"]

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
