[package]
name = "ogg_next_sys"
version = "0.1.4"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
description = "Updated low-level FFI bindings for the upstream libogg C library"
documentation = "https://docs.rs/ogg_next_sys"
readme = "../../README.md"
repository.workspace = true
license.workspace = true
keywords = ["libogg", "xiph"]
categories = [
  "external-ffi-bindings",
  "multimedia",
  "multimedia::audio",
  "multimedia::encoding",
]
links = "ogg"
exclude = [
  "/ogg_vendor/**/*.ac",
  "/ogg_vendor/**/*.am",
  "/ogg_vendor/**/*.in",
  "/ogg_vendor/**/*.m4",
  "/ogg_vendor/**/.*",
  "/ogg_vendor/README.md",
  "/ogg_vendor/cmake",
  "/ogg_vendor/doc",
  "/ogg_vendor/win32",
]

[build-dependencies]
bindgen = { workspace = true, optional = true }
cc.workspace = true

[features]
# Requires Clang and slows down the build, but guarantees that the bindings are tailored for the platform and up to date.
# It is usually better to run the generate-bindings.sh script instead
build-time-bindgen = ["dep:bindgen"]
